// Gallery Section - Index page
:root {
  --animate-speed: 1.5s;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 70px;

}

.gallery-item {
  background-size: cover;
  height: 20vw;
}

.gallery-item:hover {
  transform: scale(1.05) ;
  box-shadow: 0 10px 20px #ccc;
  transition: transform .3s ease-out;
}

// Special Menu - Menu Page

.menu-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 60px;
}

.item {
  position: relative;
  overflow: hidden;
  background-size: cover;
  margin: 20px;


  &::after {

    content: '';
    position: absolute;
    display: block;
    background: $main-color;
    opacity: 0.9;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateY(100%) rotate(90deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  //Bring in overlay

  &:hover:after {
    transform: scale(2) translateY(0) rotate(90deg);
  }

  &-name {
    font-family: "Arbutus Slab", serif;
    font-weight: lighter;
    font-size: 24px;
    color: $light-color;
    margin-bottom: 25px;
  }

  // Scale image on hover

  &:hover &-image {
transform: scale(1.1);
  }

  // Bring in text on hover

  &:hover &-text {
    opacity: 1;
    transform: translateY(0);
  }

  &-image {

    height: 100%;
    display: block;
    transform: translateZ(0);
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-image:before {
    content: '';
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }

  &-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    line-height: 0;
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-text-wrap {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 8%;
    transform: translateY(-50%);
  }
}

// Filter Menu - Menu Page

ol {
  list-style: none;
}
input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.filters {
  width: 500px;
  height: 45px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.filters * {
  display: inline-block;
}

.filters label {
  margin-bottom: 0.25rem;
  border-radius: 4px;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  font-family: "Athiti", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: $dark-color;
  font-weight: bold;
  padding: 10px 30px;
}

// Filtering rules

[value="All"]:checked ~ .filters [for="All"],
[value="Drinks"]:checked ~ .filters [for="Drinks"],
[value="Lunch"]:checked ~ .filters [for="Lunch"],
[value="Dinner"]:checked ~ .filters [for="Dinner"] {
  background: $main-color;
  color: $light-color;
}

[value="All"]:checked ~ .menu-items [data-category] {
  transition: opacity 1s, visibility 1s linear;
}

[value="Drinks"]:checked ~ .menu-items .item:not([data-category~="Drinks"]),
[value="Lunch"]:checked ~ .menu-items .item:not([data-category~="Lunch"]),
[value="Dinner"]:checked ~ .menu-items .item:not([data-category~="Dinner"]) {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  transition: opacity 1s, height 1s linear;
}


[value="Drinks"]:checked ~ .menu-items .item[data-category~="Drinks"],
[value="Lunch"]:checked ~ .menu-items .item[data-category~="Lunch"],
[value="Dinner"]:checked ~ .menu-items .item[data-category~="Dinner"] {
  opacity: 1;
  transition: opacity 1s linear;

}

//Stuff page

.stuff-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px 0;
  grid-gap: 40px;

}

.exterior-border {
  position: relative;
  border: 3px solid $main-color;
  text-align: center;
  margin: 10px;
  z-index: 1;
}

.exterior-border::before {
  content: "";
  width: 100%;
  height: 104%;
  background: $main-color;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50%) scaleX(0.3);
  transition: all 0.3s ease;
}

.exterior-border::after {
  content: '';
  position: absolute;
  width: 106%;
  height: 104%;
  top: 50%;
  left: 50%;
  background: $main-color;
  transform: translate(-50%, -50%) scaleY(0.25);
  transition: all 0.3s ease;
  z-index: -1;
}

.exterior-border:hover::after {
  transform: translate(-50%, -50%) scaleY(0.7);
}

.exterior-border:hover::before {
  transform: translateY(-50%) scaleX(0.7);
}

.stuff-item {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    display: block;
    background: $main-color;
    opacity: 1;
    top: 10%;
    width: 25%;
    height: 130%;
    transform: scale(2)  translateY(-50%) rotate(90deg);
    transition: transform 0.5s  cubic-bezier(0.2, 1, 0.3, 1);
  }


  //Bring in overlay

  &:hover::after {
    transform: scale(2) translateX(0) rotate(90deg);
  }

}

.stuff-name {
    font-family: "Athiti", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: $light-color;
    margin-bottom: 10px;
}

.stuff-profession {
  font-family: "Athiti", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: $light-color;
  margin-bottom: 10px;

}

// Make text appear

.stuff-item:hover .stuff-text {
  opacity: 1;
  transform: translateY(0);
}

.stuff-image {
  height: 100%;
  display: block;
  transform: translateZ(0);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);

}

.stuff-image:before {
  content: '';
  display: block;
  padding-top: 120%;
  overflow: hidden;
}

.stuff-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  line-height: 0;

}

.stuff-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  transform: translateY(-50%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
}

.stuff-text-wrap {
  width: 100%;
  position: absolute;
  top: 76%;
  left: 8%;
  transform: translateY(-50%) translateX(-10%);
}


.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.wrapper .item-wrap {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50%;
  background: $light-color;
}

.wrapper .item-wrap a {
  color: $main-color;
}

.wrapper .item-wrap i {
  margin-top: 9px;
}

.wrapper .item-wrap:hover {
  background: $light-color;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  color: $main-color;
}