.gallery-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 70px;

}

.gallery-item {
  background-size: cover;
  height: 20vw;
}

.gallery-item:hover {
  transform: scale(1.05) ;
  box-shadow: 0 10px 20px #ccc;
  transition: transform .3s ease-out;
}