.center-text {
  text-align: center;
}

.center-item {
 align-content: center;
}


.container-nav .fas {
  margin-left: 6px;
}

.background {
  height: 430px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../img/all-bg.jpg") no-repeat top center/cover;
  line-height: 500px;
}

.bottom-line {
  border: 0.5px dashed #343a40;
  width: 290px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.vertical-line {
  border: 0.5px solid $dark-color;
  margin: 7px 10px;
  height: 10px;

}

.vertical-line2 {
  border: 3px solid $main-color;
}

.small-vertical-line {
  border: 0.5px solid $dark-color;
  margin: 8px 10px;
  height: 7px;
}

.horizontal-line {
  margin-top: 25px;
  border: 0.5px solid $dark-color;
}

 .btnup {
   position: fixed;
  width: 30px;
  height: 30px;
  background-color: $main-color;
  color: $light-color;
  bottom: 40px;
  right: 50px;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  font-weight: lighter;
  border-radius: 2px;
}

