@import "variables";
@import "utilities";
@import "item_grid";
@import "media_queries";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Athiti", sans-serif;
  line-height: 1.5rem;
}

// Home Header

ul {
  list-style: none;
  display: flex;
}

img {
  width: 100%;
}

#logo {
  width: 200px;
  height: 50px;
  padding-left: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#home {
  // Home Header
  &-header {
    width: 100%;
    background: $bg-medium;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  // Showcase
  &-a {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/slider-03.jpg") no-repeat center center/cover;
    width: auto;
    height: 770px;
  }
  //Home
  &-b {
    width: auto;
    height: 500px;
  }
  &-c {
    width: auto;
    height: 350px;
    background: url("../img/qt-bg.jpg") no-repeat center center/cover;
    background-attachment: fixed;
  }

  &-e {
    margin-top: 50px;
  }
  &-f {
    background: $main-color;
    height: 120px;
  }
}

//Footer
#main-footer {
  height: 100px;
  background: black;
  border-top: 1.4px $main-color dashed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

// Menu page : Menu Section

#main-menu {
  height: 1100px;
}

.container {
  // Home Header
  &-nav {
    display: flex;
    justify-content: space-between;
    padding-right: 250px;
  }
  // Home Showcase
  &-showcase {
    position: absolute;
    text-align: center;
    padding: 120px 150px;
    margin-top: 30px;
    margin-left: 220px;
  }

  //Home About
  &-about {
    height: 400px;
    margin: 60px 150px;
    padding-bottom: 20px;
  }
  //Gallery
  &-gallery {
    max-width: 3000px;
    height: 700px;
    padding: 6rem 1.5rem;
    margin: auto;
    overflow: hidden;
  }
  //Menu
  &-menu {
    height: auto;
    width: 1100px;
    margin: auto;
    padding-top: 100px;
  }

  // Testimonials

  &-testimonial {
    width: 700px;
    height: 400px;
    padding: 3rem 0rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  // Contact
  &-contact {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 25px;
  }
  // Contact page
  &-formcontact {
    width: auto;
    margin-top: 50px;
  }
}

//Testimonials slides

.container-testimonial .slides {
  margin-right: 0;
  position: relative;
  width: 300%;
  left: 0;
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-nav ul li {
  padding: 30px 0px;
}

.container-nav ul li a {
  text-decoration: none;
  color: $dark-color;
  font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s ease-in-out;

  &:hover {
    border: 0 transparent solid;
    border-radius: 5px;
    background: $main-color;
    color: $light-color;
  }

  &.current {
    border: 0 transparent solid;
    border-radius: 5px;
    background: $main-color;
    color: $light-color;
  }
}

// Nested menus

.submenu-1 {
  display: none;
}

.container-nav ul li:hover .submenu-1 {
  width: 170px;
  height: 150px;
  display: block;
  position: absolute;
  background: $bg-light;
}
.container-nav ul li:hover .submenu-1 ul {
  display: block;
  margin: 10px;
}

.container-nav ul li:hover .submenu-1 ul li {
  width: 120px;
  padding: 10px;
  text-align: left;
}

.submenu-2 {
  display: none;
}

.container-nav ul li:hover .submenu-2 {
  width: 200px;
  height: 100px;
  display: block;
  position: absolute;
  background: $bg-light;
}
.container-nav ul li:hover .submenu-2 ul {
  display: block;
  margin: 10px;
}

.container-nav ul li:hover .submenu-2 ul li {
  width: 120px;
  padding: 10px;
  text-align: left;
}

// Header Section Showcase

.header {
  &-a {
    font-family: "Arbutus Slab", serif;
    font-size: 60px;
    color: #f8f9fa;
    margin: 50px 15px;
    padding-left: 20px;
  }
}

.text {
  //Header Section
  //Header Section
  &-a {
    font-family: "Athiti", sans-serif;
    color: #f8f9fa;
    font-weight: lighter;
    font-size: 18px;
  }

  // About Section

  &-title {
    font-family: "Arbutus Slab", serif;
    font-size: 30px;
    color: $dark-color;
    font-weight: lighter;
  }

  &-b {
    font-family: "Athiti", sans-serif;
    color: $medium-color;
    font-size: 18px;
    font-weight: lighter;
  }

  &-c {
    font-family: "Arbutus Slab", serif;
    font-size: 35px;
    font-weight: lighter;
    color: $light-color;
    text-align: center;
    padding-top: 100px;
  }
  &-quotation {
    font-family: "Athiti", sans-serif;
    font-size: 22px;
    color: $light-color;
    padding-left: 430px;
  }

  &-d {
    font-family: "Arbutus Slab", serif;
    font-size: 28px;
    font-weight: lighter;
    padding-bottom: 15px;
  }

  &-name {
    font-size: 28px;
    text-transform: uppercase;
    color: $main-color;
  }

  &-profession {
    color: $dark-color;
  }

  &-testimonial {
    color: $medium-color;
  }
  &-contact {
    font-family: "Athiti", sans-serif;
    font-size: 20px;
    color: $light-color;
  }
  &-footer {
    font-size: 18px;
    color: $light-color;
  }

  // Menu page - price

  &-price {
    font-size: 28px;
    color: $light-color;
    font-weight: bolder;
  }
}

span {
  color: $main-color;
}
//Showcase section
.btn-light {
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  border: 3px $main-color solid;
  border-radius: 3px;
  color: $light-color;
  padding: 20px 30px;
  margin-top: 20px;
  cursor: pointer;

  &:hover {
    background: $main-color;
  }
}

// About Section

.about {
  &-img {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 60px;
    box-shadow: -10px -10px $main-color;
    -moz-box-shadow: -10px -10px $main-color;
    -webkit-box-shadow: -10px -10px $main-color;
    -khtml-box-shadow: -10px -10px $main-color;
  }

  &-description {
    float: right;
    width: 50%;
    text-align: center;
  }
}

.btn-dark {
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  border: 3px $main-color solid;
  border-radius: 3px;
  color: $main-color;
  padding: 20px 30px;
  margin-top: 20px;
  cursor: pointer;

  &:hover {
    background: $main-color;
    color: $light-color;
  }
}

// Testimonial Section

.testimonial {
  &-item {
    width: 100%;
    height: 200%;
    padding: 0 6rem;
  }

  &-item > .testimonial-img {
    width: 150px;
    border-radius: 50%;
    border: 10px lightgray double;
    display: block;
    margin: auto;
  }

  &-item > img {
    display: block;
    margin: 0;
  }

  &-item > h6 {
    margin-top: 20px;
  }

  &-item > h6 > p {
    padding-top: 20px;
  }
}

button:focus {
  outline: none;
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 45%;
  cursor: pointer;
  color: $light-color;
  background: $main-color;
  padding: 20px;
  border: none;
}

.btn-prev:hover,
.btn-next:hover {
  background: black;
}

.btn-next {
  right: 0;
}

.btn-prev {
  left: 0;
}
// Contact Section:

.fa.fa-volume-control-phone,
.fa.fa-envelope,
.fa.fa-map-marker {
  color: $main-color;
  margin-top: 25%;
}

.icon-wrapper {
  height: 4em;
  width: 4em;
  border: 2px;
  border-radius: 50%;
  background: $light-color;
  display: flex;
  justify-content: center;
}

.contact-item {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.contact-information {
  margin-left: 20px;
  margin-top: 10px;
}

//Footer

.social-media a {
  color: $light-color;
  padding-right: 15px;
}

//Contact page

#contact {
  height: 600px;
}

#contact .container-formcontact {
  text-align: center;
}
#contact .container-formcontact form {
  width: 1100px;
  margin: 0 auto;
}

#contact .container-formcontact form div.center-button {
  display: inline-block;
  margin-top: 20px;
}

input,
textarea,
select {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  outline-color: $main-color;
  font-family: "Athiti", sans-serif;
  font-size: medium;
}

.form {
  margin-top: 15px;
}

.map {
  height: 500px;
}
